<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
<title>BIOS Laboratorio Analisi</title>
</head>
<body>	
	<div th:replace="fragments/base.html :: logo"></div>
	
 	<div th:replace="fragments/base.html :: navigator"></div>
 	
   	<div class="Corpo">
   		<div th:fragment = "login">
			<form th:if="${accountCorrente == null}">
				&nbsp;
				<h3>ACCESSO RISERVATO ALL' AMMINISTRAZIONE</h3>			
				<button type="submit">
					<a style="text-decoration:none" th:href="@{/login}">Accedi </a>
				</button>
			</form>
			<form th:if="${accountCorrente != null && accountCorrente.role != 'AMMINISTRAZIONE'}">
				&nbsp;
				<h3>ACCESSO RISERVATO ALL' AMMINISTRAZIONE</h3>	
				<h3>LOGIN EFFETTUATO COME PAZIENTE</h3>		
				<button type="submit">
					<a style="text-decoration:none" th:href="@{/logout}">Logout </a>
				</button>
			</form>
			<form th:if="${accountCorrente != null && accountCorrente.role == 'AMMINISTRAZIONE'}">
				&nbsp;
				<h3>BENVENUTA AMMINISTRAZIONE</h3>	
				<button type="submit">
					<a style="text-decoration:none" th:href="@{/logout}">Logout </a>
				</button>
				<br><a style="text-decoration:none" th:action="@{admin/tipologiaEsameForm}" th:href="@{admin/tipologiaEsameForm}">&bull; Crea nuova tipologia d'esame</a>
				<br><a style="text-decoration:none" th:action="@{admin/esameForm}" th:href="@{admin/esameForm}">&bull; Penota esame al paziente</a>
				<br><a style="text-decoration:none" th:action="@{admin/medici}" th:href="@{admin/medici}">&bull; Lista Medici</a>
				<br><a style="text-decoration:none" th:action="@{admin/risultatoForm}" th:href="@{admin/risultatoForm}">&bull; Inserisci i risultati di un esame</a>
				<br><a style="text-decoration:none" th:action="@{admin/rigaRisultatoForm}" th:href="@{admin/rigaRisultatoForm}">&bull; Inserisci nuovo campo valore di un esame</a>
				<br><a style="text-decoration:none" th:action="@{admin/selezionaEsame}" th:href="@{admin/selezionaEsame}">&bull; Inserisci i risultati di un esame(Tabella) </a>
				<br><a style="text-decoration:none" th:action="@{admin/pazienteForm}" th:href="@{admin/pazienteForm}">&bull; Inserisci nuovo paziente</a>
			</form>		
		</div>
   	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>