<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
<title>BIOS Laboratorio Analisi</title>
</head>
<body>	
	<div th:replace="fragments/base.html :: logo"></div>
	
 	<div th:replace="fragments/base.html :: navigator"></div>
 	
   	<div class="Corpo">
   		<div th:fragment = "login">
			<form th:if="${accountCorrente == null}">
				&nbsp;
				<h3>ACCESSO RISERVATO AI PAZIENTI REGISTRATI</h3>			
				<button type="submit">
					<a style="text-decoration:none" th:href="@{/login}">Accedi </a>
				</button>
			</form>
			<form th:if="${accountCorrente != null && accountCorrente.role != 'PAZIENTE'}">
				&nbsp;
				<h3>ACCESSO RISERVATO AI PAZIENTI REGISTRATI</h3>	
				<h3>LOGIN EFFETTUATO COME AMMINISTRAZIONE</h3>		
				<button type="submit">
					<a style="text-decoration:none" th:href="@{/logout}">Logout </a>
				</button>
			</form>
			<form th:if="${accountCorrente != null && accountCorrente.role == 'PAZIENTE'}">
				&nbsp;
				<h3>BENVENUTO PAZIENTE: <a th:text="|${accountCorrente.paziente.nome} ${accountCorrente.paziente.cognome}|"></a> </h3>
				<button type="submit">
					<a style="text-decoration:none" th:href="@{/logout}">Logout </a>
				</button>
				<h3>Lista degli esami da lei svolti in questa struttura:</h3>
				<table>
					<tr th:each="esame : ${accountCorrente.paziente.esami}">
						<td>	
							<a href="esame.html" 
					   		th:href="@{'/esame' + '/' + ${esame.id}}" 
					   		th:text="| &bull;${esame.tipologiaEsame.nome} del ${esame.dataEsame}|">Nome del data</a>
						</td>
					</tr>
			    </table>
			    &nbsp;
			</form>		
		</div>
   	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>